# dependencies
node_modules/

static
env

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
.env
.env.local

# IDE / OS files
.DS_Store
.idea/
.vscode/